# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Dataset
data/raw/job_descriptions.csv
dataset/